@import 'colors.css';
@import 'controlstyle.css';
@import 'tablestyle.css';
@import 'navbarstyle.css';
@import 'homestyle.css';
@import 'screenstyle.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.app-styleguide {
  font-family: 'Helvetica', sans-serif;
}

.main-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
}

.content-wrap {
  flex: 1;
  display: flex;
  margin-top: 2rem;
}

.main-footer {
  color: white;
  background-color: #525252;
  position: relative;
  bottom: 0;
  width: 100%;
}

.dark-overlay {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background-color: rgba(0, 0, 0, 0.7);
}

.landing {
  position: relative;
  background: url('./img/demo.jpg') no-repeat center center/cover;
  height: 100vh;
}

.otml-logo {
  position: relative;
  height: 100px;
  width: 278px;
  background: url('./img/otml.png') no-repeat center center/cover;
  object-fit: contain;
}

.landing-inner {
  color: #fff;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 80%;
  margin: auto;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.app-styleguide .tbl-go-to-page {
  width: 100px;
}

@media only screen and (max-width: 500px) {
  .app-styleguide .otml-logo {
    position: relative;
    background: url('./img/otml.png') no-repeat center center/cover;
    height: 55px;
    width: 155px;
    object-fit: contain;
  }

  .app-styleguide .cr-title {
    font-size: 14px;
  }

  .app-styleguide .card {
    font-size: 12px !important;
    width: 7rem !important;
  }

  .app-styleguide .card h1 {
    font-size: 1rem;
  }

  .app-styleguide .card .card-title {
    font-size: 10px;
  }
}

@media only screen and (max-width: 990px) {
  body {
    font-size: 12px;
  }

  .app-styleguide .h4-screen {
    font-size: 14px;
    margin-bottom: 10px;
  }

  .app-styleguide .p-screen {
    margin-bottom: 2px;
  }

  .app-styleguide .form-select,
  .app-styleguide .form-control {
    font-size: 12px;
  }

  .app-styleguide .btn-paginate {
    font-size: 12px;
  }

  .app-styleguide .tbl-go-to-page {
    width: 100%;
  }

  .app-styleguide .table {
    margin-top: 10px !important;
    margin-bottom: 0;
  }

  .app-styleguide .navbar-light {
    height: auto;
  }

  .app-styleguide .navbar-light .navbar-nav .nav-link,
  .app-styleguide .navbar-light .navbar-nav .navbar-text {
    margin-left: 0 !important;
    font-size: 14px;
  }

  .app-styleguide .navbar-light .dropdown .dropdown-item {
    font-size: 14px;
  }

  .app-styleguide
    .navbar-light
    .dropdown
    .dropdown-menu
    .paymentsNav
    .dropdown-header {
    font-size: 14px;
  }

  .app-styleguide .title-label {
    font-size: 14px;
  }

  .app-styleguide .card {
    width: 10rem;
  }

  .app-styleguide .card,
  .app-styleguide .card .card-title {
    font-size: 14px;
  }

  .otml-logo {
    position: relative;
    background: url('./img/otml.png') no-repeat center center/cover;
    height: 80px;
    width: 222px;
    object-fit: contain;
  }

  .app-styleguide .tbl-paginate-controls {
    display: flex;
    flex-direction: column;
    justify-content: right;
  }

  .app-styleguide .col-screen-filter-search .col-sm-3 {
    width: 100%;
  }

  .app-styleguide .tbl-paginate-controls .col-sm-6 {
    width: 100%;
  }
}

@media only screen and (min-width: 768px) {
  .app-styleguide .tbl-paginate-controls {
    flex-direction: row;
  }

  .app-styleguide .tbl-paginate-controls {
    display: flex;
    flex-wrap: wrap;
  }

  .app-styleguide .col-screen-filter-search .col-sm-3 {
    width: 30%;
  }

  .app-styleguide .tbl-paginate-controls .col-sm-6 {
    width: auto;
    flex: -1 1 30%;
  }
}

@media only screen and (min-width: 1024px) {
  .app-styleguide .card {
    width: 14rem;
  }

  .app-styleguide .tbl-paginate-controls {
    flex-direction: row;
  }

  .app-styleguide .tbl-paginate-controls {
    display: flex;
    flex-wrap: wrap;
  }

  .app-styleguide .col-screen-filter-search .col-sm-3 {
    width: 30%;
  }

  .app-styleguide .tbl-paginate-controls .col-sm-6 {
    width: auto;
    flex: -1 0 30%;
  }
}
